.parent-div {
  width: 430px;
  height: 932px;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.FRAME-44-1584 {
  transform: rotate(0deg);
  position: relative;
  width: 430px;
  height: 932px;
  left: 0px;
  top: 0px;
  opacity: 1;
  overflow: hidden;
  background: rgba(255, 255, 255, 1);
}
.RECTANGLE-44-1802 {
  position: absolute;
  left: 170px;
  top: 597px;
  transform: rotate(0deg);
  transform-origin: center !important;
  background: rgba(181, 246, 215, 1);

  border-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  width: 111px;
  height: 52px;
  opacity: 0;
}
.ELLIPSE-44-1805 {
  position: absolute;
  left: 201px;
  top: 670px;
  transform: rotate(0deg);
  transform-origin: center !important;
  background: rgba(217, 217, 217, 1);

  border-radius: 50%;

  width: 50px;
  height: 50px;
  opacity: 0;
  clip-path: url(#id-Ellipse1-31-Frame17-svgpath);
}
.RECTANGLE-44-1585 {
  position: absolute;
  left: 276px;
  top: 596px;
  transform: rotate(0deg);
  transform-origin: center !important;
  background: rgba(237, 66, 66, 1);

  border-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  width: 105px;
  height: 51px;
  opacity: 1;
}
